<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edi.manage.mapper.ReceiverMapper" >
  <resultMap id="BaseResultMap" type="com.edi.manage.pojo.Receiver" >
    <!--
      WARNING - @mbggenerated
    -->
  	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="postCode" property="postCode" jdbcType="VARCHAR" />
    <result column="prov" property="prov" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
 
  </resultMap>
  
  
  <select id="queryById" parameterType="String" resultType="com.edi.manage.pojo.Receiver">
     select * from  Receiver where uid=#{id}
  </select>
  
</mapper>