<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edi.manage.mapper.RequestorderMapper">
	<resultMap id="BaseResultMap" type="com.edi.manage.pojo.Requestorder">
		<!-- WARNING - @mbggenerated -->
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="uid" property="uid" jdbcType="BIGINT" />
		<result column="codAmount" property="codAmount" jdbcType="VARCHAR" />
		<result column="dataFlag" property="dataFlag" jdbcType="VARCHAR" />
		<result column="flag" property="flag" jdbcType="VARCHAR" />
		<result column="insuranceValue" property="insuranceValue"
			jdbcType="VARCHAR" />
		<result column="itemsName" property="itemsName" jdbcType="VARCHAR" />
		<result column="itemsNumber" property="itemsNumber" jdbcType="VARCHAR" />
		<result column="itemsVolume" property="itemsVolume" jdbcType="VARCHAR" />
		<result column="itemsWeight" property="itemsWeight" jdbcType="VARCHAR" />
		<result column="logisticProviderID" property="logisticProviderID"
			jdbcType="VARCHAR" />
		<result column="mailNo" property="mailNo" jdbcType="VARCHAR" />
		<result column="orderNo" property="orderNo" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="subOrderNo" property="subOrderNo" jdbcType="VARCHAR" />
		<result column="tradeno" property="tradeno" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
 

		<association property="item" javaType="com.edi.manage.pojo.Item"
			column="uid" select="com.edi.manage.mapper.ItemMapper.querybyuid"></association>

		<association property="receiver" javaType="com.edi.manage.pojo.Receiver"
			column="uid" select="com.edi.manage.mapper.ReceiverMapper.queryById"></association>

		<association property="sender" javaType="com.edi.manage.pojo.Sender"
			column="uid" select="com.edi.manage.mapper.SenderMapper.queryById"></association>

	</resultMap>

	<select id="queryById" resultMap="BaseResultMap" parameterType="String">
		SELECT
		*
		FROM
		requestorder
		WHERE
		requestorder.uid = #{id}
	</select>

</mapper>